@model ContactCongress.Models.AddressModel
@{
ViewData["Title"] = "Home Page";
}



<div class="container-fluid section">
    <div>
        <div id="aya-img"><img></div>
        <div class="content">
            <div class="leader">
                <h1>My Issue</h1>
                <p>It is a really important issue</p>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="AddressBox">
                        <a id="LocationSubmit">
                            <svg version="1.1" id="gps" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                                <style type="text/css">
                                    #gps .st0{fill:none;stroke:#000;stroke-miterlimit:10;}
                                    #gps .st1{fill:#000;}
                                </style>
                                <circle class="st0" cx="20.2" cy="19.8" r="18.1"/>
                                <circle class="st1" cx="20.2" cy="3.1" r="1"/>
                                <circle class="st1" cx="20.2" cy="36.5" r="1"/>
                                <circle class="st1" cx="36.8" cy="19.8" r="1"/>
                                <circle class="st1" cx="3.5" cy="19.8" r="1"/>
                                <circle class="st1" cx="20.2" cy="19.8" r="1.9"/>
                            </svg>
                        </a>
                        @Html.TextBoxFor(m => m.Address, new { @placeholder = "Enter your address to find your legislators" })
                        <a id="AddressSubmit" href="#">
                            <svg version="1.1" id="search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                                <style type="text/css">
                                    #search .st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
                                </style>
                                <circle class="st0" cx="24.3" cy="15.5" r="10.2"/>
                                <rect x="13.9" y="23.4" transform="matrix(-0.8857 -0.4642 0.4642 -0.8857 15.2974 65.0694)" width="3.5" height="14.6"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <progress id="loading" class="hide"></progress>
                <div id="response" class="col-md-8 col-md-offset-2" ng-cloak ng-show="contacts">
                    <div id="responseHeader" class="group">
                        <div class="intro" ng-repeat="contact in contacts" ng-class="{  selected:$first}" data-form-id="{{contact.first_name + '_' + contact.last_name}}" ng-click="contacts.switchForm($event)">
                            <p class="name">{{contact.first_name + ' ' + contact.last_name}}</p>
                            <img class="headshot" ng-src="{{'https://theunitedstates.io/images/congress/225x275/' + contact.bioguide_id + '.jpg'}}" />
                        </div>
                    </div>
                    <div id="responseBox" class="group">
                        <form id="{{contact.first_name + '_' + contact.last_name}}" ng-repeat="contact in contacts" ng-class="{selected:$first}" method="post" ng-submit="processForm('reid@reidcompton.com')">
                            @*<input type="text" name="toEmails" value="reid@reidcompton.com" ng-model="formData.toEmails" ng-show="false" />*@
                            <h3>{{contact.title + '. ' + contact.first_name + ' ' + contact.last_name}}</h3>
                            <input type="text" id="name" placeholder="Name" ng-model="formData.fromName" />
                            <input type="text" id="email" placeholder="Email" ng-model="formData.fromEmail" />
                            <input type="text" id="subject" placeholder="Subject" ng-model="formData.subject" />
                            <textarea id="body" ng-model="formData.body" ng-init="formData.body = 'Please resolve my issue.'"></textarea>
                            <input type="submit" id="submit" value="submit" />
                            <span class="formSent"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid section">
    <div>
        <div class="row">
            <a href="#" class="prev">&laquo;</a>
            <a href="#" class="next">&raquo;</a>
            <ul id="slideshow">
                <li class="selected">
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1147538081986957" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1147538081986957:0"><p>(1/11) &#x201c;When I was a baby I came very close to dying.  I&#x2019;m not sure how to say the name of the disease in English, but...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1147538081986957:0">Sunday, December 13, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1147647901975975" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1147647901975975:0"><p>(2/11)  &#x201c;This is a photo of me right before the war came.  Maybe my parents knew the war was coming, but they didn&#x2019;t...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1147647901975975:0">Sunday, December 13, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1147730971967668" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1147730971967668:0"><p>(3/11)  &#x201c;After Miriam died, I began to have silly thoughts.  I thought that I was supposed to be President of the World....</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1147730971967668:0">Sunday, December 13, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1147777378629694" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1147777378629694:0"><p>(4/11)  &#x201c;These things are very hard for me to remember, but I try not to cry because I want to be strong for my mother. ...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1147777378629694:0">Sunday, December 13, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1147835431957222" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1147835431957222:0"><p>We&#x2019;re currently in the middle of a series about a young Iraqi refugee named Aya.  As many of you know, Aya&#x2019;s story does...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1147835431957222:0">Sunday, December 13, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1148205971920168" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1148205971920168:0"><p>(5/11)  &#x201c;Our house in Baghdad was located near a military compound, and the militia officers wanted it for themselves. ...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1148205971920168:0">Monday, December 14, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1148327681907997" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1148327681907997:0"><p>(6/11)  &#x201c;I was fourteen when I arrived in Syria.  Those were the best two years of my life.  The first day we arrived, I...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1148327681907997:0">Monday, December 14, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1148429011897864" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1148429011897864:0"><p>(7/11)  &#x201c;George is my refugee dog.  We&#x2019;ve been through many horrible things together.  I found him in Baghdad when he...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1148429011897864:0">Monday, December 14, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1148509938556438" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1148509938556438:0"><p>(8/11) &#x201c;My years in Turkey have been the hardest four years of my life.  When we first arrived from Syria, we couldn&#x2019;t...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1148509938556438:0">Monday, December 14, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1148884575185641" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1148884575185641:0"><p>(9/11) &#x201c;We applied for resettlement in America. We did all our paperwork. We had two different interviews in Istanbul....</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1148884575185641:0">Tuesday, December 15, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1148922281848537" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1148922281848537:0"><p>(10/11)  &#x201c;It was like a nightmare.  I fell on the floor and started screaming: &#x201c;No, no, no!&#x2019;  I cried for days.  I...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1148922281848537:0">Tuesday, December 15, 2015</a></blockquote></div></div>
                </li>
                <li>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/humansofnewyork/posts/1149225948484837" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/humansofnewyork/posts/1149225948484837:0"><p>(11/11)  &#x201c;Six months ago my father disappeared.  He left one morning and didn&#x2019;t come home.  That morning he answered the...</p>Posted by <a href="https://www.facebook.com/humansofnewyork/">Humans of New York</a> on&nbsp;<a href="https://www.facebook.com/humansofnewyork/posts/1149225948484837:0">Tuesday, December 15, 2015</a></blockquote></div></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /.container -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>