@model ContactCongress.Models.AddressModel
@{
ViewData["Title"] = "Home Page";
}


<div class="brand">
    <h1>My Issue</h1>
</div>
<p>It is a really important issue</p>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="AddressBox">
                @Html.TextBoxFor(m => m.Address, new { @placeholder = "Address" })
                <a id="AddressSubmit" href="#">Q</a>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div id="responseHeader" class="group">
                <div class="intro" ng-repeat="contact in contacts" ng-class="{  selected:$first}" data-form-id="{{contact.first_name + '_' + contact.last_name}}" ng-click="contacts.switchForm($event)">
                    <p class="name">{{contact.first_name + ' ' + contact.last_name}}</p>
                    <img class="headshot" ng-src="{{'https://theunitedstates.io/images/congress/225x275/' + contact.bioguide_id + '.jpg'}}" />
                </div>
            </div>
            <div id="responseBox" class="group">
                <form id="{{contact.first_name + '_' + contact.last_name}}" ng-repeat="contact in contacts" ng-class="{selected:$first}">
                    <input type="text" name="name" id="name" />
                    <input type="text" name="subject" id="subject" />
                    <textarea id="body"></textarea>
                    <input type="submit" id="submit" value="submit" />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Build a website
                    <strong>worth visiting</strong>
                </h2>
                <hr>
                <hr class="visible-xs">
                <p>The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
                <p>A huge thanks to <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>