body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.fullpage {
    max-width:100% !important;
    padding:0 !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.leader {
    text-align:center;
}

#aya-img {
    background-image: url("/images/aya.jpg");
    background-position: center center;
    background-size: cover;
    display: block;
    filter: blur(10px);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#LocationSubmit > img {
    display: block;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 20px;
    width: 40px;
}

#Address {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #444;
    font-size: 30px;
    height: 80px;
    padding: 10px;
    width: 93%;
}

#responseHeader {
    position:relative;
    z-index:1;
    margin-top:50px;
}

.intro:first-child {
    border-left:1px solid white;
}

.intro {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    cursor: pointer;
    float: left;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 140px;
    z-index: 0;
}

.intro.selected {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-bottom: medium none;
    padding-bottom: 11px;
}
.intro.selected .name {
    color:#333;
}

.intro .name {
    font-size: 12px;
    font-weight: bold;
    color:#fff;
}

.intro .headshot {
    width: 80px;
}

#responseBox {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border: 1px solid white;
    padding: 10px;
    position: relative;
    top: -1px;
    z-index: 0;
    margin-bottom:30px;
}

#responseBox form {
    display: none;
}

#responseBox form.selected {
    display: block;
}

#responseBox form input {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border: medium none;
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 50%;
}

#responseBox form textarea {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border: medium none;
    color: #666;
    padding: 5px;
    width: 50%;
    height:200px;
}

#responseBox form input#submit {
    width: 20%;
}

