body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.leader {
    text-align:center;
}

#Address { width:93% }

#responseHeader {
    position:relative;
    z-index:1;
    margin-top:50px;
}

.intro:first-child {
    border-left:1px solid black;
}

.intro {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    float: left;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 140px;
    z-index: 0;
    cursor:pointer;
}

.intro.selected {
    border-bottom: medium none;
    padding-bottom: 11px;
    background:#fff;
}

.intro .name {
    font-size: 12px;
    font-weight: bold;
}

.intro .headshot {
    width: 80px;
}

#responseBox {
    border: 1px solid black;
    padding: 10px;
    position: relative;
    top: -1px;
    z-index: 0;
}

#responseBox form {
    display: none;
}

#responseBox form.selected {
    display: block;
}

#responseBox form input {
    border: 1px solid black;
    display: block;
    margin: 10px 0;
    width: 50%;
}

#responseBox form textarea {
    border: 1px solid black;
    width: 50%;
}

#responseBox form input#submit {
    width: 20%;
}

